<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Css/StyleIndex.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="../templates/ListaDeTareas/todo.html">Lista de Tareas</a></li>
            <li><a href="../templates/Figuras/figurasPython.html">Figuras</a></li>
        </ul>
    </nav>
    <div>
        <img src="../Img/Pythonlogo.jpg" class="imgPython">
    </div>
</body>
<br>
<footer>
    <h3> Ejemplos extraídos de otros lugares con el fin de aprender más del lenguaje de Python </h3>
</footer>
</html> 